<div style="width: 50%;float: right;">
    <input type="text" name="" placeholder="Enter Your Name" style="margin-top:20px;width: 84%;padding: 10px;" 
    [(ngModel)]=productData.name><br>
    <input type="text" name="" placeholder="Enter Your Age" style="margin-top:20px;width: 84%;padding: 10px;" 
    [(ngModel)]=productData.age><br>
	<button style="margin-top:20px;width: 87%;padding: 10px;" (click)="adddata()">Add User</button></div>
<div style="width: 50%"><table style="width: 60%" border="1">
	<thead>
		<tr style="background: grey">
			<td>Name</td>
			<td>Age</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of products">
			<td>
				{{data.name}}
			</td>
			<td>
			    {{data.age}}
			</td>
		</tr>
	</tbody>
</table>
</div>